{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "Firefox ESR", "> 1%", "ie >= 8"]
      }
    }],
    "vue-app"
  ],
  "plugins": ["external-helpers"]
}
