{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "Firefox ESR", "> 1%", "ie >= 8"]
      }
    }],
    "vue-app"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    ["transform-es2015-classes", { "loose": true }],
    "transform-proto-to-assign",
    "transform-runtime",
    "minify-dead-code-elimination"
  ]
}
